node_modules/
coverage/
.env
.env.test
.stuff
dist/
**/dist/
.venv/
.DS_Store
ait_pgdata/
ait_qdrant_storage/
ait_ollama/
ait_redis/

packages/connectors/src/types/openapi
# Temporary
packages/infrastructure/mastra
