name: ait

services:
  ait_postgres:
    image: postgres:latest
    container_name: ait_postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: ait
    ports:
      - "5432:5432"
    volumes:
      - ait_pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  ait_qdrant:
    image: qdrant/qdrant:latest
    container_name: ait_qdrant
    ports:
      - "6333:6333"
    volumes:
      - ait_qdrant_storage:/qdrant/storage
    networks:
      - app-network

  ait_ollama:
    image: ollama/ollama:latest
    container_name: ait_ollama
    volumes:
      - ait_ollama:/root/.ollama
    ports:
      - "11434:11434"
    restart: always
    environment:
      - OLLAMA_KEEP_ALIVE=24h
      - OLLAMA_HOST=0.0.0.0
    networks:
      - app-network

  ait_redis:
    image: redis:latest
    container_name: ait_redis
    command: redis-server --appendonly yes --appendfsync everysec
    ports:
      - "6379:6379"
    volumes:
      - ait_redis:/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
    networks:
      - app-network

volumes:
  ait_pgdata:
  ait_qdrant_storage:
  ait_ollama:
  ait_redis:

networks:
  app-network:
    driver: bridge
