name: ait_testing

services:
  ait_postgres:
    image: postgres:latest
    container_name: ait_postgres_test
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: ait_testing
    ports:
      - "5432:5432"
    tmpfs:
      - /var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d ait_testing"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  ait_qdrant:
    image: qdrant/qdrant:latest
    container_name: ait_qdrant_test
    ports:
      - "6333:6333"
    tmpfs:
      - /qdrant/storage
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
